### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [77]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = r"C:\Users\bastaw1\PycharmProjects\GitHub\RU-SOM-DATA-PT-08-2019-U-C\homework\04-Pandas\Instructions\PyCitySchools\Resources\schools_complete.csv"
student_data_to_load = r"C:\Users\bastaw1\PycharmProjects\GitHub\RU-SOM-DATA-PT-08-2019-U-C\homework\04-Pandas\Instructions\PyCitySchools\Resources\students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [59]:
total_schools = df['school_name'].nunique()
total_students = df['student_name'].count()
total_budget = df['budget'].unique().astype(float).sum()
average_math = df['math_score'].mean()
average_reading = df['reading_score'].mean()
overall_average = (average_reading+average_math)/2
passing_math = df[df['math_score']>=70]['math_score'].count()/total_students*100
passing_reading = df[df['reading_score']>=70]['reading_score'].count()/total_students*100

District_Summary = pd.DataFrame({'Total Schools':total_schools,
                                'Total Students': total_students,
                                'Total Budget':total_budget,
                                'Average Math Score':average_math,
                                'Average Reading Score':average_reading,
                                '% Passing Math':passing_math,
                                '% Passing Reading':passing_reading,
                                '% Overall Passing Rate':[overall_average]})
formats = {'Total Students':'{0:,}','Total Budget': '${0:,.2f}','Average Math Score':'{0:,.2f}','Average Reading Score':'{0:,.2f}','% Passing Math':'{0:,.2f}%','% Passing Reading':'{0:,.2f}%','% Overall Passing Rate':'{0:,.2f}%'}
District_Summary.style.format(formats)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [78]:
school_group = df.groupby(['school_name','type'])
# school_type = school_group['type'].unique()
total_students = school_group['size'].unique().astype(int)
total_budget = school_group['budget'].unique().astype(int) 
per_student = total_budget/total_students
math_average = school_group['math_score'].mean()
reading_average = school_group['reading_score'].mean()
passing_math = df[df['math_score']>=70].groupby(['school_name','type'])
school_passing_math = passing_math['math_score'].count()/total_students*100
passing_reading = df[df['reading_score']>=70].groupby(['school_name','type'])
school_passing_reading = passing_reading['reading_score'].count()/total_students*100
average_overall = (school_passing_math+school_passing_reading)/2
School_Summary = pd.DataFrame({ 'Total Students':total_students,
                                'Total School Budget':total_budget,
                               'Per Student Budget':per_student,
                                'Average Math Score':math_average,
                                'Average Reading Score':reading_average,
                                '% Passing Math':school_passing_math,
                                '% Passing Reading':school_passing_reading,
                                '% Overall Passing Rate':average_overall})

School_Summary.reset_index(inplace=True)
School_Summary.set_index('school_name',inplace = True)
School_Summary.index.name = None
formats = {'Total Students':'{0:,}','Total School Budget': '${0:,.2f}','Per Student Budget':'${0:,.2f}','Average Math Score':'{0:,.2f}','Average Reading Score':'{0:,.2f}','% Passing Math':'{0:,.2f}%','% Passing Reading':'{0:,.2f}%','% Overall Passing Rate':'{0:,.2f}%'}
School_Summary.rename(columns = {'type':'School Type'},inplace = True)
School_Summary.sort_values('% Overall Passing Rate',ascending = False).head().style.format(formats)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [62]:
School_Summary.sort_values('% Overall Passing Rate',ascending = True).head().style.format(formats)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [63]:
grade9 = df[df['grade']=='9th'].groupby('school_name')
avgmath9 = grade9['math_score'].mean()

grade10 = df[df['grade']=='10th'].groupby('school_name')
avgmath10 = grade10['math_score'].mean()

grade11 = df[df['grade']=='11th'].groupby('school_name')
avgmath11 = grade11['math_score'].mean()

grade12 = df[df['grade']=='12th'].groupby('school_name')
avgmath12 = grade12['math_score'].mean()



school_math = pd.DataFrame({'9th':avgmath9,
                               '10th':avgmath10,
                               '11th':avgmath11,
                               '12th':avgmath12})
school_math.index.name=None

school_math.style.format('{0:.2f}')

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [64]:
avgreading9 = grade9['reading_score'].mean()

avgreading10 = grade10['reading_score'].mean()

avgreading11 = grade11['reading_score'].mean()

avgreading12 = grade12['reading_score'].mean()



school_reading = pd.DataFrame({'9th':avgreading9,
                               '10th':avgreading10,
                               '11th':avgreading11,
                               '12th':avgreading12})
school_reading.index.name=None

school_reading
school_reading.style.format('{0:.2f}')

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [93]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# create bin column
School_Summary['Spending Ranges (Per Student)'] = pd.cut(School_Summary['Per Student Budget'],spending_bins, labels = group_names)

# Groupby bins
Spending_groups = School_Summary.groupby('Spending Ranges (Per Student)')

avg_Spending = Spending_groups[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']].mean()

#format dataframe
format_bins = {'Average Math Score':'{0:,.2f}','Average Reading Score':'{0:,.2f}','% Passing Math':'{0:,.2f}%','% Passing Reading':'{0:,.2f}%','% Overall Passing Rate':'{0:,.2f}%'}
avg_Spending.style.format(format_bins)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [94]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# create bin column
School_Summary['School Size'] = pd.cut(School_Summary['Total Students'],size_bins, labels = group_names)

# Groupby bins
bin_Size = School_Summary.groupby('School Size')

avg_Size = bin_Size[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']].mean()

#format dataframe
format_bins = {'Average Math Score':'{0:,.2f}','Average Reading Score':'{0:,.2f}','% Passing Math':'{0:,.2f}%','% Passing Reading':'{0:,.2f}%','% Overall Passing Rate':'{0:,.2f}%'}
avg_Size.style.format(format_bins)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [95]:
# Groupby bins
bin_Size = School_Summary.groupby('School Type')

avg_Size = bin_Size[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']].mean()

#format dataframe
format_bins = {'Average Math Score':'{0:,.2f}','Average Reading Score':'{0:,.2f}','% Passing Math':'{0:,.2f}%','% Passing Reading':'{0:,.2f}%','% Overall Passing Rate':'{0:,.2f}%'}
avg_Size.style.format(format_bins)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757

Obersvation 1: 
    Overall, Charter schools appear to have higher passing rates than District Schools.
Observation 2: 
    Medium sized schools or schools with budgets less than $615 per student appear to have the highest overall pass rates.